.join {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 45px;
}

.bracketlinks:link {
  text-decoration: none;
  
  color: #2AABE2;
}

.bracketlinks:visited {
  text-decoration: none;
  color: #2AABE2;    
}

.bracketlinks:hover {
  text-decoration: none;
  color: #2AABE2;
  cursor: pointer;
}

.bracketlinks:active {
  text-decoration: none;
  color: white;    
}

.pending {
  margin-bottom: 40px;
  margin-top: 60px;
}

.pendingbrackets {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 20px;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.pendingbracket {
  margin-top: 5px;
  margin-right: 2px;
  margin-left: 2px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}