@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:500,600,700");
.nav {
  top: 0px;
  position: fixed;
  display: flex;
  z-index: 3;
  background-color: #333;
  height: 52px;
  min-width: 100vw;
  justify-content: space-evenly;
  align-items: center;
  color: #2aabe2;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.nav {
  letter-spacing: 1px;
}

.navlinks:link {
  text-decoration: none;

  color: white;
}

.navlinks:visited {
  text-decoration: none;
  color: white;
}

.navlinks:hover {
  text-decoration: none;
  color: #2aabe2;
  cursor: pointer;
}

.navlinks:active {
  text-decoration: none;
  color: #2aabe2;
}

.home:link {
  text-decoration: none;

  color: #2aabe2;
}

.home:visited {
  text-decoration: none;
  color: #2aabe2;
}

.home:hover {
  text-decoration: none;
  color: #2aabe2;
  cursor: pointer;
}

.home:active {
  text-decoration: none;
  color: #2aabe2;
}

.logout:link {
  text-decoration: none;

  color: white;
}

.logout:visited {
  text-decoration: none;
  color: white;
}

.logout:hover {
  text-decoration: none;
  color: #2aabe2;
  cursor: pointer;
}

.logout:active {
  text-decoration: none;
  color: #2aabe2;
}

.test {
 height: 50px;
 width: 50px;

 background-color: springgreen;
}

.MobileLinks:link {
  text-decoration: none;

  color: white;
}

.MobileLinks:visited {
  text-decoration: none;
  color: white;
}

.MobileLinks:hover {
  text-decoration: none;
  color: #2aabe2;
  cursor: pointer;
}

.MobileLinks:active {
  text-decoration: none;
  color: #2aabe2;
}

.logoutmobile:link {
  text-decoration: none;

  color: white;
}

.logoutmobile:visited {
  text-decoration: none;
  color: white;
}

.logoutmobile:hover {
  text-decoration: none;
  color: #2aabe2;
  cursor: pointer;
}

.logoutmobile:active {
  text-decoration: none;
  color: #2aabe2;
}

@media (max-width: 940px) {
  .navlinks {
    display: none;
  }

  .logout {
    display: none;
  }

  .menu-svg {
    width: 34px;
    height: 34px;
  }

  .mobilenav {
    position: absolute;
    z-index: 0;
    height: 40vh;
    width: 100vw;
    display: flex;
    padding-left: 30px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-top: 55px;
    background-color: #333;
    color: #2aabe2;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Nunito", sans-serif;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
      0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    transition: transform 500ms ease-in-out;
  }
}

@media (min-width: 940px) {
  .menu-svg {
    display: none;
  }
}
